<h2>Index Page</h2>

<div class="index-button"><%= link_to "create new disposition", new_user_statistic_path %></div>

  <% @statistic.each do |item| %>
    <div class="indexes">
      <div class="index-preview">
        <p> Disposition <%= item[:id] %> </p>
        <p> <%= item[:created_at] %> </p>
      </div>

      <div class="index-button"><%= link_to "view", user_statistic_path(item[:user_id],item[:id]) %></div>

    </div>
  <% end %>
